@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  /* background-color: black;  DARK MODE */
}

img {
  max-width: fit-content;
  height: fit-content;
}


#eventCard {
  background: linear-gradient(to left, white 88%, black 12%);
}

.eventType {
  position: absolute;
  top: 32px;
  left: 92px;
  gap: 10px;
  padding: 0px 20px 0px 20px;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}


#dropdownMenu {
}

/* INPUT STYLES STARTS */

input[type="text"] {
  border: 1px solid lightgray;
  border-radius: 0px;
  background-image: url("../public/search-icon.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 12px 12px;
}

input[type="text"]:focus {
  border: 1px solid #FF0D87;
  outline: none;
}

input[type="text"]::placeholder {
 
  padding: 12px 28px;
}

input[type="text"]:not(:placeholder-shown) {
  background-image: none;
}



input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid rgb(229, 16, 124);
  border-radius: 0px;
  height: 20px;
  width: 20px;
  left: 0px;
  top: 0px;
  outline: none;
  font-weight: bolder;
  cursor: pointer;
  color: white;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  position: relative; /* add this to position the tick icon */
}

input[type="checkbox"]::before {
  content: "\2713"; /* add tick icon */
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  
  transform: translate(-50%, -50%) scale(0); /* hide the tick icon by scaling it down to zero */
  transition: transform 0.2s ease-in-out; /* animate the tick icon */
}

input[type="checkbox"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
  background-color: rgb(255, 13, 135); /* show the tick icon by scaling it up to full size */
}

 /*INPUT STYLES START*/ 




 /* MEDIA QUERY STARTS */

@media screen and (max-width: 768px) {
  #searchbox {
    display: none;
  }
  #eventCard {
    background: linear-gradient(to top, white 65%, black 35%);
    padding-left: 16px;
  }

  .eventType {
    position: absolute;
    top: 16px;
    left: 0px;
    gap: 10px;
    padding: 0px 20px 0px 20px;
  }

  #cardButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0px 20px 0px 20px;
  }

  #posterContainer {
    margin-top: 54px;
  }

}
 /* MEDIA QUERY ENDS */